#inboxHolder{
    width:1400px;
    height: 1000px;
    background-color:white;
    margin:auto;
    border-radius:2%;
    border-width:4px;
    border-color:black;
    border-style:solid;
    overflow: auto;
}

/* Scroll */


/* allMessages */
#allMessages{
    
    height:800px;
    width:1300px;
    margin:40px auto;
}

/*Message Template URL*/
#message{
    width:1300px;
    margin: 10px auto;
    display: flex;
    background-color:white;
}

/* Divs */
#Title{
    display:inline-block;
    color:black;
    font-weight: 900;
    margin: 0px 5px;
    text-align:center;
    white-space: pre;
    max-width:200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#Info{
    display:inline-block;
    font-weight:900;
    margin: 0px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 760px;
    text-align:center;

}

#Date{
    display: inline-block;
    font-weight:900;
    margin: 0px 5px;
    max-width:400px;
    width:300px;
    text-align:center;
}

/* Delete Button */

#Delete{
    display:none;
    position:relative;
    right:5px;
    width:auto;
    height:30px;
    bottom:-7px;
    font-weight:900;
    margin: 0px 5px;
    color:red;
    background-color:transparent;
    border-style:none;
}

@keyframes ants { 0%{transform: scale(1);} 50%{transform: scale(2); color:blue;} 100%{transform: scale(1);} }