h4{
font-weight:900;
} 

#welcomeDiv{
    
    background-color:white;
    width: 600px;
    height:auto;
    margin:50px auto;
    display:inline-block;
}

#text{
    font-size:35px;
}

#title{
    font-weight:900;
    font-size: 2em;
}

#pictures{
    display:inline-block;
    margin: 50px 10px;
    float:right;
    text-align:center;
    position:relative;
    size:80px;
    
}

#all{
    width: 97%;
    margin: 0 auto;
}

#catTitle{
    font-size:50px;
    position:relative;
    left:160px; 
    width:400px;
}
    
#picture1{
    border-radius:5%;
    border-width:5px;
    border-style:ridge;
    border-color:black;
    display:inline-block;
    position:relative;
    size:200px;
}

#websites{
    float:left;
}
    
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  border-radius:5%;
    border-width:5px;
    border-style:ridge;
    border-color:black;
    display:inline-block;
    position:relative;
    size:200px;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 620px;
  width: 740px;
  opacity: 1;
  transition: .9s ease;
}

.overlay .text{
    opacity:0;
}
  
.overlay:hover .text{
  opacity: 1;
  transition: .9s ease;
}

.text {
  color: green;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 100px;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
    
#image1:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#entireDiv{
    text-align:center;
}

#everythingDiv{
    width: 97%;
    margin: 0 auto;
}

    

    
