<div id="pageInfo">

  
  <div class="jumbotron" id="welcomeDiv">
    <h1 id="title" class="display-3">Hello, and welcome to Cat World BG!</h1>
    <p class="lead">The place that let's you adopt cute kittens AND find nice homes for others at the same time! You can also connect with you fellow cat owner! </p>
    <hr class="my-4">
    <p>Non-profit organization.</p>
    
  </div>
  
    <div id="pictures">
    <img id="picture1" src="https://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" height="250" width="400" alt="Paris">
   
    <img id="picture2" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/docatspurrwh.jpg" height="250"
      width="400" alt="Paris">
      <br>
    <img id="picture3" src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/91615172-find-a-lump-on-cats-skin-632x475.jpg" height="250"
      width="400" alt="Paris">

    <img id="picture4" src="https://cdn-images-1.medium.com/max/1600/1*6wMP9_oZ7HEa_Mjau8nBpQ.jpeg" height="250"
      width="400" alt="Paris">
    </div>
    

</div>
