h4{
font-weight:900;
} 


#welcomeDiv{
    float:left;
    background-color:white;
    width: 500px;
    height:auto;
    margin:15px;
    display:inline-block;
 
}

#title{
    font-weight:900;
    font-size: 2em;
}

#pictures{
    display:inline-block;
    margin: 18px;
    position:relative;
    float:right;    
}

#picture1{
    border-radius:34px;
    border-style:solid;
    border-color:black;
    display:inline-block;
    position:relative;
    
}

#picture2{
    border-radius:34px;
    border-style:solid;
    border-color:black;
    display:inline-block;
    margin: 0px 10px;
}

#picture3{
    border-radius:34px;
    border-style:solid;
    border-color:black;
    display:inline-block;
    position:relative;
}

#picture4{
    border-radius:34px;
    border-style:solid;
    border-color:black;
    position:relative;
    margin: 10px 10px;
}

#picture1:hover{
transform: scale(1.04);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#picture2:hover{
transform: scale(1.04);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#picture3:hover{
transform: scale(1.04);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#picture4:hover{
transform: scale(1.04);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}