<div id="pageInfo">

  
  <div class="jumbotron" id="welcomeDiv">
    <h1 id="title" class="display-3">Hello, and welcome to Cat World BG!</h1>
    <p class="lead">The place that let's you adopt cute kittens AND find them nice homes at the same time!</p>
    <hr class="my-4">
    <p>You can browse for cats in need of homes, put up cats for adoption, and talk with other cat owners.</p>
    
  </div>
  
   <div id="pictures">
    <img id="picture1" src="https://www.cats.org.uk/uploads/images/featurebox_sidebar_kids/grief-and-loss.jpg" alt="Paris">
   </div>

</div>
