#message{
    width:1300px;
    border-style:solid;
    border-color:black;
    border-radius:3%;
    margin: 10px auto;
    display: flex;
    background-color:white;
    cursor: pointer;
}

#message:hover { 
    transform: scale(1.05);
    box-shadow: 6px 3px rgba(0, 0, 0, 0.5);
}

/* Divs */
#Title{
    display:inline-block;
    color:black;
    font-weight: 900;
    margin: 0px 5px;
    border-right: 3px solid black;
    border-right-width:3px;
    width:auto;
    text-align:center;
    white-space: pre;
    width:200px;
}

#Info{
    display:inline-block;
    font-weight:900;
    margin: 0px 5px;
    border-right: 3px solid black;
    border-right-width:3px;
}

#Date{
    display: inline-block;
    font-weight:900;
    margin: 0px 5px;
    min-width:200px;
    width:auto;
    text-align:center;
}

/* Delete Button */
#message:hover #Delete{
    display:block;
    position:relative;
    transform: scale(1.5);
    cursor: pointer;
    animation: ants 3s linear infinite;
    text-shadow: 2px 1.5px rgba(0, 0, 0, 0.5);
}

#Delete{
    display:none;
    position:relative;
    right:5px;
    width:auto;
    height:30px;
    bottom:-7px;
    font-weight:900;
    margin: 0px 5px;
    color:red;
    background-color:transparent;
    border-style:none;
}

@keyframes ants { 0%{transform: scale(1);} 50%{transform: scale(2); color:blue;} 100%{transform: scale(1);} }