<div id="properMessageTemplate">
  <!-- UserPicture -->
  <img id="userPic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" width="190px" height="150px" alt="Italian Trulli">
  
  <!-- Username -->
  <div id="username">
    <legend id="usernameLegend">
      usernameUsername
    </legend>
  </div>
  
  <!-- Message Content -->
  <div id="message">
    <legend id="messageContent">
           ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
    </legend>
  </div>

  <!-- Date -->
  <div id="date">
    <legend id="dateLegend">
       2018-09-07 15:23:54
    </legend>
  </div>
  
</div>


