#UserCard{
   
    height:auto;
    width:300px;
    background-color:white;
    margin:20px 36px;
    display:inline-block;
    

}

#profilePic{
  text-align: left;
  background-color: #eee;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-style:solid;
  border-color:black;
  border-radius:30%;
  
}

#username{
    text-align:center;
    font-weight: 900;
    
}

#picUrl{
    text-align:center;
    
    margin-left: auto;
    margin-right: auto;
}

#IsAdmin{
    font-weight:900;
    font-size:25px;
}

#inputField{
    display:block;
}

#changeButton:hover{
transform: scale(1.20);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  
}

#usernameField{
    width:210px;
    margin:auto;
    text-align:center;
}

#urlField{
    text-align:center;
    width:140px;
    margin:auto;
}