<div id="pageInfo">
    <div>
      <div class="card">
        <div class="card-body">
          <legend>Post Your Kate</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="email" class="form-control" id="nameField" aria-describedby="emailHelp" placeholder="Cat Name">
          
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Breed</label>
            <input type="text" class="form-control" id="breedField" placeholder="Breed">
          </div>
          <div class="form-group">
            <div id="age">
            <label for="exampleInputPassword1">Age</label>
            <input type="Number" class="form-control" id="ageField" placeholder="Age">
            </div>
            
          </div>
          <div class="form-group"id="description">
            
            <label for="exampleTextarea">Information</label>
            <textarea class="form-control" id="desciption2" placeholder="Description" rows="3"></textarea>
            
          </div>
          <div id="number">
            <label for="exampleInputPassword1"> Contact Number</label>
            <input type="Number" class="form-control" id="numberField" placeholder="Number">
          </div>
          
          <div class="form-group" id="imgUrl">
            <label for="exampleInputPassword1" id="imgUrl2">Img Url</label>
            <input type="text" class="form-control" id="urlField" placeholder="Url ">
          </div>

          <button type="submit" id="buttonCreatePost" class="btn btn-primary">Create</button>
        </div>
      </div>

      <div id="catPiture">
         <legend>Picture Preview</legend>
         <img src="https://cdn.pixabay.com/photo/2016/08/10/14/44/cat-1583462__340.png" id="imagePreview2" height="400" width="480" alt="catProfilePic">
      </div>

      </div>
      
      
    
<div>
