<div>
  <div class="card">
    <div class="card-body">
      <legend>Search For   Kate</legend>
      
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" id="nameField" placeholder="Name">
      </div>


      <div class="form-group">
        <label for="exampleInputPassword1">Breed</label>
        <input type="text" class="form-control" id="breedField" placeholder="Breed">
      </div>
      <div class="form-group">
        <div id="age">
          <label for="exampleInputPassword1">Age</label>
          <input type="Number" class="form-control" id="ageField" placeholder="Age">
        </div>

      </div>
     
      

      

      <button type="submit" id="searchButton" class="btn btn-primary">Search</button>
    </div>
  </div>
