

  <form #form="ngForm">
  <div class="card">
    <div class="card-body">
      <legend>Search For   Kate</legend>
      
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" id="nameField" placeholder="Name" [(ngModel)]="model.name" name="name">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Breed</label>
        <input type="text" class="form-control" id="breedField" placeholder="Breed" [(ngModel)]="model.breed" name="breed">
      </div>
      
      <div class="form-group">
        <div id="age">
          <label for="exampleInputPassword1">Age</label>
          <input type="Number" class="form-control" id="ageField" placeholder="Age" required [(ngModel)]="model.age" name="age">
        </div>
      </div>

      <button (click)="test()" type="submit" id="searchButton" class="btn btn-primary">Search</button>
    </div>
  </div>
  </form>

     
      

      

