.card{
    width:340px;
    margin: 43px 20px;
    float:left;
    height:auto;
}

#searchButton{
    background-color:green;
    border-color:black;
}

#searchButton:hover{
transform: scale(1.80);

  outline: 0;
  -webkit-box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 5px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-transform: rotate(0deg);
          transform: rotate(-10deg);
          
}