#p{
    color:black;
    font-weight: 900;
   
}
#footer{
   
    bottom: 0;
    width: 100%;
    text-align: center;
    color:black;
    font-weight: 900;
    position:fixed;
    font-size:40px;
    
   
     /* Height of the footer */
   
}