<div id="pageInfo">
  <div id="profileDiv" class="card">
  
    <img id="profilePic" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" alt="Smiley face" height="250" width="250">
    <h3 id="username">Username: <input type="text" id="usernameField" class="form-control" placeholder="Username Goes Here" id="usernameField"></h3>
    <div id="picUrl" class="form-group">
      
      <h4 id="IsAdmin">Is Admin:</h4>
      <label id="inputField" class="col-form-label" for="inputDefault">Pic Url: <input type="text"  class="form-control" placeholder="Url Goes Here" id="urlField"></label>
      <button type="button" id="changeButton" class="btn btn-success">Change</button>
    </div>
  
  </div>
<div>
