<div id="pageInfo">
  <div id="logInForm">
    <form>
      <fieldset>
        
        <div class="card" id="loginCard">
              <div class="form-group row">

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username">
              
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
              </div>
              
              <button type="submit" id="buttonLogIn" class="btn btn-primary">Log In</button>
        </div>

      </fieldset>
    </form>
  </div>
</div>


            
        
       
        
