<nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="about" id="brand">Cat World</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">Register</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="create">Create Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="viewAll">View All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="messages">Message Board</a>
      </li>
      
    </ul>
    <div id="seperator">|</div>
    <div class="nav-profilePic" id="profilePic">
      <a class="nav-link" href="profile">UserName: <img id="ProfilePicImage" src="https://cdn.shopify.com/s/files/1/1993/9541/products/cat_bowtie.jpg?v=1508953263" alt="Italian Trulli"  width="60" height="60"></a>
    </div>
    <form class="form-inline my-2 my-lg-0">
      
    </form>
  </div>
</nav>