#navbarColor01{
    background-color:green;
}   

/* Messages */
#privateMessages{
    float:left;
}

#messagesLabel{
   font-size:30px;
}

#pmImage:hover{
transform: scale(1.10);
}

#pmImage{
    border-radius: 30%;
    border-style:solid;
    background-color:green;
}

#numberOfMessages{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size:35px;
    text-align: center;
    text-align: 0px auto;
    animation: newMsg 2.5s linear infinite;
}

#numberOfMessages:hover{
   color:black;
}

/* ProfilePic */
#profilePic{
    display:inline-block;
    font-size:30px;
    height:auto;
}

#profilePic:hover{
    
}

#ProfilePicImage{
    border-radius: 30%;
    border-style:solid;
}

#ProfilePicImage:hover{
transform: scale(1.10);
}

/* All Items Hover */
.nav-item:hover a{
    transform: scale(1.10);
    border-style:solid;
    border-color:lightgray;
    border-width:2px;
}

/* All Items */
.nav-item{
    font-size: 30px;
}

/* Logout */
#logout{
     cursor: pointer; 
}
    
/* Brand */
#brand{
    font-size: 50px;
    color:green;
    font-weight:900;
    text-shadow: 2px 2px black;
    animation: logoAnimation 4s linear infinite;
}

/* Seperator */
#seperator{
    font-size:40px;
    float:right;
}

/* NavBar */
#navBar{
    margin: 10px 20px;
    border-width:4px;
    white-space: nowrap;
}

/* Animations */
@keyframes sad { 0%{transform: scale(1);} 50%{transform: scale(1.15);} 100%{transform: scale(1);} }
@keyframes logoAnimation { 0%{transform: scale(1);} 50%{transform: scale(1.15);} 100%{transform: scale(1);} }
@keyframes newMsg { 0% {color:yellow;} 50% { color:rgb(206, 34, 34) } 100% { color:yellow;} } 
@keyframes ants2 { to { background-position: 100% 100% } }